.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.projects-folder-path-field {
  width: calc(100% - 130px);
}

.action-bar {
  margin-top: 30px;
}
