<mat-card class="project-item">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <button mat-mini-fab color="{{ projectInfo.color || 'primary' }}" matTooltip="{{ projectPath.fullPath }}" matTooltipPosition="right" (click)="onFolderIconClicked()">
        <mat-icon>{{ projectInfo.icon || 'folder' }}</mat-icon>
      </button>
    </div>
    <mat-card-title class="project-item-title">{{ projectInfo.title }}</mat-card-title>
    <mat-card-subtitle>{{ projectInfo.description || '(This package has no description.)' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <table>
      <tr>
        <td class="property-header">Current branch:</td>
        <td>
          <strong>{{ projectInfo.currentBranch || '(unknown)' }}</strong>
        </td>
      </tr>

      <tr *ngIf="!!projectInfo.lastCommit">
        <td class="property-header">Last commit:</td>
        <td>
          <strong>
            {{ projectInfo.lastCommit.relativeDate }} ({{ projectInfo.lastCommit.date }}) <br />
          </strong>
          {{ projectInfo.lastCommit.message }} <br />
          {{ projectInfo.lastCommit.commiterName }} ({{ projectInfo.lastCommit.commiterEmail }})
        </td>
      </tr>

      <tr *ngIf="!!projectInfo?.environment">
          <td class="property-header">Environment:</td>
          <td>
            <strong>
              {{ projectInfo.environment.friendlyName }}
            </strong>
          </td>
        </tr>
    </table>

    <div *ngIf="projectPath.subfolderName === 'maverick'" class="details">
      <app-maverick-project-item-details></app-maverick-project-item-details>
    </div>

    <div *ngIf="projectPath.subfolderName === 'thundercat'" class="details">
      <app-thundercat-project-item-details></app-thundercat-project-item-details>
    </div>

    <button type="button" mat-button (click)="onRefreshButtonClicked()">Refresh</button>
    <button type="button" mat-button (click)="onGetLatestButtonClicked()">Get latest</button>
    <button type="button" mat-button (click)="onSwitchBranchButtonClicked()">Switch branch...</button>
    <button type="button" mat-button (click)="onSwitchEnvironmentButtonClicked()" *ngIf="!!projectInfo?.environment">Switch environment...</button>
  </mat-card-content>

  <app-progress-indicator></app-progress-indicator>
</mat-card>
